.heading2{
    /* Connect with your teachers - Add Your Question */

position: absolute;
width: 968px;
height: 25px;
left: 336px;
top: 136px;

font-family: 'Epilogue';
font-style: normal;
font-weight: 600;
font-size: 28.8546px;
line-height: 25px;
/* identical to box height, or 85% */
letter-spacing: 0.01em;

color: #5D7285;

}

.t1{
    /* Select Grade */

position: absolute;
width: 338px;
height: 39px;
left: 339px;
top: 205px;

font-family: 'Epilogue';
font-style: normal;
font-weight: 200;
font-size: 29px;
line-height: 25px;
/* or 85% */
letter-spacing: 0.01em;

color: #000000;
}

.t2{
    /* Select Subject */

position: absolute;
width: 338px;
height: 39px;
left: 339px;
top: 279px;

font-family: 'Epilogue';
font-style: normal;
font-weight: 200;
font-size: 29px;
line-height: 25px;
/* or 85% */
letter-spacing: 0.01em;

color: #000000;
}

.t3{
    /* Select Teacher */

position: absolute;
width: 338px;
height: 39px;
left: 339px;
top: 360px;

font-family: 'Epilogue';
font-style: normal;
font-weight: 200;
font-size: 29px;
line-height: 25px;
/* or 85% */
letter-spacing: 0.01em;

color: #000000;
}


.t5{
/* Student ID */

position: absolute;
width: 338px;
height: 39px;
left: 342px;
top: 461px;

font-family: 'Epilogue';
font-style: normal;
font-weight: 200;
font-size: 29px;
line-height: 25px;
letter-spacing: 0.01em;

color: #000000;


}

.t6{

position: absolute;
width: 338px;
height: 39px;
left: 342px;
top: 554px;

font-family: 'Epilogue';
font-style: normal;
font-weight: 200;
font-size: 29px;
line-height: 25px;
/* or 85% */
letter-spacing: 0.01em;

color: #000000;


}

.t7{
/* SUBMIT */
position: absolute;
width: 129px;
height: 31px;
left: 1161px;
top: 953px;
font-family: 'Epilogue';
font-style: normal;
font-weight: 700;
font-size: 32px;
line-height: 22px;
letter-spacing: 0.005em;
color: #FFFFFF;
}

