.heading9{
    position: absolute;
    width: 968px;
    height: 25px;
    left: 336px;
    top: 136px;
    font-family: 'Epilogue';
    font-style: normal;
    font-weight: 600;
    font-size: 28.8546px;
    line-height: 25px;
    letter-spacing: 0.01em;
    color: #5D7285;
    }
    
    .tt6{
   /* Student ID */

        position: absolute;
        width: 338px;
        height: 39px;
        left: 342px;
        top: 355px;

        font-family: 'Epilogue';
        font-style: normal;
        font-weight: 200;
        font-size: 29px;
        line-height: 25px;
        /* or 85% */
        letter-spacing: 0.01em;

        color: #000000;


    }
    
    .tt7{
    /* Feedback */

        position: absolute;
        width: 338px;
        height: 39px;
        left: 342px;
        top: 510px;

        font-family: 'Epilogue';
        font-style: normal;
        font-weight: 200;
        font-size: 29px;
        line-height: 25px;
        /* or 85% */
        letter-spacing: 0.01em;

        color: #000000;


    }
    
    .tt8{
    /* Enter date */

        position: absolute;
        width: 338px;
        height: 39px;
        left: 342px;
        top: 776px;

        font-family: 'Epilogue';
        font-style: normal;
        font-weight: 200;
        font-size: 29px;
        line-height: 25px;
        /* or 85% */
        letter-spacing: 0.01em;

        color: #000000;


    }
    
    .sfet{
    position: absolute;
    width: 290px;
    height: 31px;
    left: 1195px;
    top: 932px;
    font-family: 'Epilogue';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 22px;
    letter-spacing: 0.005em;
    color: #FFFFFF;
    }

    .tv18{
        /* Student ID */

    position: absolute;
    width: 338px;
    height: 39px;
    left: 342px;
    top: 227px;

    font-family: 'Epilogue';
    font-style: normal;
    font-weight: 200;
    font-size: 29px;
    line-height: 25px;
    /* or 85% */
    letter-spacing: 0.01em;

    color: #000000;



    }